@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'rubi';
    src: url('../font/RubikScribble-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'rubi_shadow';
    src: url('../font/RubikDoodleShadow-Regular.ttf') format('truetype');
}

body{
    font-family: 'NanumSquare', sans-serif;
}
/* 전체 스타일 초기화 */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul, ol, li {
    padding: 0;
    margin: 0;
	list-style: none;
}
a {
	text-decoration: none;
}

.color-gray{
	color: #777;
	
}

#topButton {position: fixed; right: 2%; bottom: 50px; z-index: 999; }
#topButtonImg{
    width: 24px;
    height: 24px;
	border: 1px solid #e6e4e4;
	padding: 2px;
	background-color: #fff;
    border-radius: 50%;
}
#topButtonImg:hover{
    background-color: #edf5ff;
}    
/* header */
header{
	width: 100%;
	border-bottom: 1px solid #ddd;
    position:fixed;
    background-color: #fff;
    z-index: 9999;
}
header .inner{
	width: 100%;
	height: 70px;
	margin: 0px auto;
	position: relative; /* 자식 absolute 요소의 기준점 설정 */
}
.aboutMe_btn{
    display: flex;
}
.aboutMeImg img{
	width: 30px;
	height: 30px;
	margin-left: 20px;
	/* position: absolute; */
}
.gitImg img{
    background-color: #aaadb1;
    border-radius: 53%;
    border: 1px solid #aaadb1;
}
.gitImg:hover img{
    content: url('../img/github.png');
    background-color: #ddecff;
    border: 1px solid #000;
}
.mailImg:hover img{
    content: url('../img/mail_logo.png');
    
}

/* .aboutMeImg img:hover{
    box-shadow: 3px 3px rgb(0,0,0,0.1);
} */

header .inner #gnb{
	position: absolute;
	bottom: 0px;
	right: 0px;
    top: 20px;
}
header .inner #gnb li{
	float: left;
}
/*header .inner #gnb li a{ */
.scroll{
	display:block; /* 인라인 요소는 block을 설정하여 크기 조절 */
	font-weight:bold;
	font-size: 15px;
	line-height: 1;
	font-family: 'NanumSquare';
	color: #555;
	padding: 10px 40px;
	transition: all 0.5s;
}
header .inner #gnb li a:hover{
	/* background: #555; */
	color: hsl(222, 100%, 75%);
    font-weight: 1000;
    /* font-size: 1.5vw; */
}
.on{
    color: hsl(222, 100%, 75%);
    font-weight: 1000;
}


/* visual */
#about_figure{
    display: flex;
    width: 100%;
	height: 690px;
	background-color: #edf5ff;
	position: relative;
	overflow: hidden;
    padding: 200px 50px 30px 50px;
}

#about_figure .inner{
    display: flex;
}

.img{
    margin-left: 80px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
}
.img img{
    width: 100%;
    /* height: 95%; */
    /* padding-right: 90px; */
}

figure{
	width: 100%;
	height: 690px;
	background-color: #edf5ff;
	position: relative;
	overflow: hidden;
    padding: 200px 50px 30px 50px;
}
figure video{
	object-fit: cover; /* 영상을 figure 영역 안에 꽉 차도록 설정 */
	width: 100%;
	height: 100%;
	/* opacity: 0.3; */
	position: absolute;
	top: 0px;
	left: 0px;
}
figure .inner{
	/* width: 1180px; */
	margin: 0px auto;
	position: relative;
}
figure .inner h1{
	font-size: 60px;
	line-height: 1;
	font-family: 'rubi';
	margin-bottom: 20px;
}
figure .inner p{
	font: 24px;
	line-height: 1.4;
	font-family: 'NanumSquare', sans-serif;
	/* color: hsl(0, 0%, 100%); */
	margin-bottom: 60px;
}
.viewDetail{
	display: block;
	width: 400px;
	height: 30px;
	border: 1px solid #bbbbbb;
	font: bold 11px/30px 'NanumSquare', sans-serif;
	color: #000;
	text-align: center;
	letter-spacing: 1px;
	transition: all 0.5s;

}

.about_info{
    display: none;
    margin: 30px;
}
.about_info table td{
    height: 35px;

}
.toggle{
    display: block;
}

.viewDetail:hover{
	background-color: #fff;
	color: #555;
}

.span-line{
    height: 2px;
    width: 70%;
    background-color: #333;
    padding: 5px;
}

/* slide */
.slide-wrapper{
    position: relative;
    width: 700px;
    margin: 0 auto;
    height: 200px;
    overflow: hidden;
}
.slides{
    position: absolute;
    left: 0;
    top: 0;
}
.slides.animated{
    transition: 0.5s ease-out;
}
.slides li{
    width: 200px;
    height: 200px;
    background-color: pink;
    float: left; /* 가로배열 */
}
.slides li:not(:last-child){
    margin-right: 30px;
}
.controls{
    text-align: center;
    margin: 20px;
}










/**/

.section .slide-wrap{
    max-width: 600px;
    margin: 0 auto; /* 블록요소 가운데 정렬 */
    overflow: hidden; /* 영역을 벗어나면 안 보이도록 설정 */
}
.section .slideList{
    white-space: nowrap; /* ul 줄바꿈 제거 */
    font-size: 0;
}
.section .slideList > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}
.section .slideList > li > a{
    display: block;
    position: relative;
}
.section .slideList > li > a img{
    width: 100%;
}
.section .slideList label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY((-50%));
    padding: 50px;
    cursor: pointer;
}
.section .slideList .left{
    left: 30px;
    background-image: url('./img/slide_left') center center / 100% no-repeat;
}
.section .slideList .right{
    left: 30px;
    background-image: url('./img/slide_right') center center no-repeat;
}




/* === project 시작 === */
/* === swiper는 별로 파일로 저장 === */
.project{
    width: 90%;
    height: 90%;
    font-family: 'NanumSquare';
    text-align: center;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.1);
    box-sizing: border-box;
    padding: 20px 20px 3px 20px;
    /* position: relative; */

}
.ptj_subject{
    font: 700 22px 'NanumSquare', sans-serif;
    margin: 3px 0;
}    
.pjt_img{
    position: relative;
    width: 100%;
    height: 250px;
}

.tail{
    margin-top: 15%;
    display: flex;
    font: 600 14px 'NanumSquare', sans-serif;
}
.tail-left{
    margin-right: auto;
}
.tail-right{
    margin-left: auto;
}
.intro{
    height: 15%;
    padding: 12px;
    font: 500 13px 'NanumSquare', sans-serif;
}    
.project .content{
    width: 100%;
    height: 66%;
}


.slide-card{
    display: inline-grid;
    transition: transform 1s;
    transform: perspective(800px) rotateY(0deg);
    transform-style: preserve-3d;
}
.slide-card:hover{
    transform: perspective(800px) rotateY(180deg);
}
.slide-card > * {
    grid-area: 1 / 1 / 1 / 1;
    width: 180px;
    height: 100px;
    padding: 12px;
    border-radius: 8px;
    backface-visibility: hidden;
}
.card-front{
    background-color: pink;
}
.card-back{
    background-color: hotpink;
    transform: rotateY(180deg);
}

.pjt_role{
    margin-bottom: 20px;
}


.desc{
    /* bottom: auto; */
    padding-top: 10px;
    border-top: 1px solid lightgray;
    line-height: 2.0;
    font-size: 14px;
    /* padding-left: 20px; */
    margin-top: 10px;
}
.pjt_role{
    display: flex;
    margin-top: 25px;
    align-items: center;
}
.pjt_role .right{
    margin-left: auto;
}
.pjt_role .roles{
    margin-left: 10px;
    /* margin-left: auto; */
}
.roles .role{
    /* background-color: #b6d7ff; */
    border: 1px solid #b6d7ff;
    border-radius: 17px;
    font: 500 15px black;
    padding: 8px;
}


.pjt_subTitle{
    font: 600 15px black;
    /* margin-left: 15px; */
}

.pjt_stack{
    
    /* margin-bottom: 20px; */
    padding-left: 10px
    /* text-align: center; */
    /* display: flex; */
}

.stack{
    background-color: #ddecff;
    border-radius: 17px;
    font: 400 14px black;
    /* margin-left: 5px; */
    padding: 8px;
    margin: 8px 5px 0 0;
    left: 0;
    display: inline-block;
}
.stackList{
    align-items: center;
    width: 100%;
}
.stackList span{
    margin: 0 5px;
    font-weight: 600;
    align-items: center;
    border: #7fb5ff;
    border-radius: 17px;
}
.pjt_back_bottom{
    position: absolute;
    bottom: 10px;
    /* padding-bottom: 10px; */
}

.pjt_back_title{
    background-color: #ddecff;
    border-radius: 17px;
    font: 500 16px black;
    margin-left: 0 5px;
    padding: 8px;
    margin: 0;
    left: 0;
}




.pjt_skill ul{
    margin-top: 10px;
    padding-left: 10px;
}
.pjt_skill ul li{
    display: flex;
    margin-bottom: 5px;
    line-height: 1.5;
    font-size: 15px;
}


.pjt_desc{
    /* position: absolute;
    bottom: 0; */
    padding-right: 35px;
}
.desc{
    
}
/* .parent {
    display: table-cell;
    vertical-align: middle;
}

.child {
    position: relative;
} */
/* === project 끝 === */





/* 프로젝트 슬라이드 */
.slide{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    user-select: none;
}
.slide_item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 365px;
    flex-shrink: 0;
    transition: left 0.15s;
}
.slide_btn{
    margin: 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 16px); /* 버튼이 중앙에 위치 */
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #deedff;
    cursor: pointer;
}
.slide_left{
    left: 10px;
}
.slide_right{
    right: 10px;
}

.slide_pagination{
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.slide_pagination > li{
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 25px;
}
.slide_pagination > li.active {
    /* 현재 슬라이드 색상은 투명도 없이 */
    color: #7fb5ff;
}
.slide_item_duplicate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    transition: left 0.15s;
}



/**/
.slide_{
    border: 0;
    outline: 0;
    background-color: #edf5ff;
    padding: 5px 8px;
    border-radius: 50%;
}
.slide_:hover{
    background-color: #deedff;
}

.pjt-div{height: 650px;}
.menu-div{
	width: 100%;
    padding-top: 100px;
    /* height: 650px; */
}
.inner{
	margin: 0px auto;
}
.menu-title{
	font: bold 35px/1px 'NanumSquare', sans-serif;
	color: #555;
	text-align: center;
	margin-bottom: 50px;
}
	
.pic{
    padding: 5px;
    height: 300px;
}
.pic img{
    height: 50%;
}



/* footer */
footer{
	width: 100%;
	background: hsl(0, 0%, 38%);
	padding: 100px 30px 10px;
	border-top: 1px solid #888;
}
footer .inner{
	margin: 0px auto;
}
footer .inner .upper{
	width: 100%;
	border-bottom: 1px solid #777;
	padding-bottom: 20px;
}
footer .inner .upper::after{
	content:"";
	display: block;
	clear: both;
}
footer .inner .upper h1{
	float: left;
	font: bold 28px/1 'NanumSquare', sans-serif;
	color: #ffffff;
}
footer .inner .upper ul{
	float: right;
}
footer .inner .upper ul li{
	float: left;
	margin-left: 20px;
}
footer .inner .lower{
	width: 100%;
	padding-top: 20px;
}
footer .inner .lower ul li a{
	font: bold 14px/1 'NanumSquare', sans-serif;
	color: #ffffff;
}
footer .inner .lower p{
	width: 100%;
	font: 12px/1 'NanumSquare', sans-serif;
	color: #ffffff;
}
footer .comment {
	width: 100%;
	font: 12px/1.3 'NanumSquare', sans-serif;
	color: #ffffff;
	margin-bottom: 20px;
	padding: 50px 0 10px;
}
footer #ContactLogo li span{
	
	width: 100%;
	font: 12px/1.3 'NanumSquare', sans-serif;
	color: #ffffff;
	margin-bottom: 20px;
	/* padding: 50px 0 10px; */
}


.contact-logo{
	display: flex;
}
.contact-logo a:hover{
    border-bottom: #ddd;
}

/* skill */
.inner-wrap{
    display: flex;
    padding: 15px;
    margin: 0 50px;
}

.skill-div{
margin: 25px;
width: 50%;
/* border-bottom: 1px solid #777; */
}

.title{
    font-weight: 900;
    font-size: 20px;
    background-color: #deedff;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid #deedff;
    /* font: 500; */
}
.border_title{
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px 15px;
    border-radius: 15px;
    
    border: 1px solid #b6d7ff;

}

.skill-list {
    position: relative;
    padding: 0;
    list-style: none;
    margin-top: 20px;
    /* width: 400px; */
}

.skill-list li{
margin: 20px 4px;
}


.skill-comment{
    font-family: 'Nanumsqure';
    font-size: 13px;
    color: #555;
    padding: 5px 3px;
}
.skill-list li .bar-background{
    margin: 10px 0;
    background-color: rgb(231, 231, 231);
    height:10px; 
    border-radius:10px;
}
.skill-list li .bar {
    
    position: absolute;
    border-radius: 10px; 
    background-color: #b6d7ff;
    height: 10px;
    &:after  {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        top: -1px;
        right: 0;
        border-radius: 50%;
        background-color: hsl(213, 92%, 81%);
    }
}

.skill-title{
    font-size: 17px;
    font-weight: 600;
    margin: 0px 2px;
}



/* animation */
.skill-list li .progressbar_java {
    width: 55%;
    animation: progressbar_java 2s ease-out;
}
.skill-list li .progressbar_javascript {
    width: 60%;
    animation: progressbar_javascript 2s ease-out;
}
.skill-list li .progressbar_springboot {
    width: 45%;
    animation: progressbar_springboot 2s ease-out;
}
.skill-list li .progressbar_egov {
    width: 45%;
    animation: progressbar_egov 2s ease-out;
}
.skill-list li .progressbar_oracle {
    width: 65%;
    animation: progressbar_oracle 2s ease-out;
}
.skill-list li .progressbar_html {
    width: 50%;
    animation: progressbar_html 2s ease-out;
}
.skill-list li .progressbar_css {
    width: 55%;
    animation: progressbar_css 2s ease-out;
}
.skill-list li .progressbar_jenkins {
    width: 10%;
    animation: progressbar_jenkins 2s ease-out;
}
.skill-list li .progressbar_svn {
    width: 40%;
    animation: progressbar_svn 2s ease-out;
}
.skill-list li .progressbar_git {
    width: 30%;
    animation: progressbar_git 2s ease-out;
}
.skill-list li .progressbar_python {
    width: 40%;
    animation: progressbar_python 2s ease-out;
}

@keyframes progressbar_java { 
    0%  { 
        width: 0%;
    } 
    100% { 
        width: 55%;
    }  
}
@keyframes progressbar_javascript { 
    0%  { 
        width: 0%;
    } 
    100% { 
        width: 60%;
    }  
}
@keyframes progressbar_springboot { 
    0%  { 
        width: 0%;
    } 
    100% { 
        width: 45%;
    }  
}
@keyframes progressbar_egov { 
    0%  { 
        width: 0%;
    } 
    100% { 
        width: 45%;
    }  
}
@keyframes progressbar_oracle { 
    0%  { 
        width: 0%;
    } 
    100% { 
        width: 65%;
    }  
}
@keyframes progressbar_html { 
    0%  { 
        width: 0%;
    } 
    100% { 
        width: 50%;
    }  
}
@keyframes progressbar_css { 
    0%  { 
        width: 0%;
    } 
    100% { 
        width: 55%;
    }  
}
@keyframes progressbar_jenkins { 
    0%  { 
        width: 0%;
    } 
    100% { 
        width: 10%;
    }  
}
@keyframes progressbar_svn { 
    0%  { 
        width: 0%;
    } 
    100% { 
        width: 40%;
    }  
}
@keyframes progressbar_git { 
    0%  { 
        width: 0%;
    } 
    100% { 
        width: 30%;
    }  
}
@keyframes progressbar_python { 
    0%  { 
        width: 0%;
    } 
    100% { 
        width: 40%;
    }  
}
