@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'rubi';
    src: url('../font/RubikScribble-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'rubi_shadow';
    src: url('../font/RubikDoodleShadow-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'NanumSquare';
    background-color: red;
}